h1,h3{
	font-size: 41px;
	color: white;
	text-align: center;	
}
li{
	font-family: 'Lato';
	font-size: 31px;
	text-align: center;
	padding: 20px;
}
	li:nth-child(2){
		color: green;
	}
	li:nth-child(3){
		color: red;
	}
	li:nth-child(4){
		color: white;
	}
	li:nth-child(5){
		color: #e67e22;
	}

body{
	background-color: black;
}