h1,h3{
	font-size: 41px;
	color: white;
	text-align: center;	
}
li{
	color: green;
	font-family: 'Lato'
	font-size: 31px;
	text-align: center;
	padding: 20px;
}
body{
	background-color: black;
}
p{
	padding: 30px;
	max-width: 776px;
	color: #FDE3A7;
	margin:auto;
	font-family: 'Lato';
	font-size: 30px;
	line-height: 46px;
	margin-left: 550px;
}